@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Zen+Loop:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgba(206, 211, 205, 1);
}

/* Til  Header tekst */
h1 {
  font-family: "Zen Loop", "cursive";
  font-weight: 400;
  font-style: regular;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* til under header tekst - lidt mindre */
h2 {
  font-family: "Zen Loop", "cursive";
  font-weight: 400;
  font-style: regular;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
h3 {
  font-family: "Zen Loop", "cursive";
  font-weight: 400;
  font-style: regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* til tekst og infomationer */
h4 {
  font-family: "Nanum Gothic";
  font-weight: 400;
  font-style: regular;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
