/* Mobile First */
.infoSection {
  width: 390px;
  height: 1000px;
  margin-top: 708px;
  opacity: 1;
  position: relative;
  display: flex;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 98, 108, 1);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heading {
  width: 323px;
  height: 168px;
  position: absolute;
  top: 86px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
  background-color: rgba(51, 98, 108, 1);
}

.description {
  width: 349px;
  height: 264px;
  position: absolute;
  top: 267px;
  left: 21px;
  opacity: 1;
  margin: 0;
  font-weight: normal;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 98, 108, 1);
}

.imageContainer {
  position: absolute;
  top: 567px;
  left: 105px;
  width: 182px;
  height: 176px;
  background-color: rgba(51, 98, 108, 1);
}

.gitteImage {
  width: 182px;
  height: 176px;
  opacity: 1;
  border-radius: 100px;
  object-fit: cover;
}

.buttonContainer {
  position: absolute;
  top: 779px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  .infoSection {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    width: auto;
    max-width: 600px;
    left: 5%;
  }

  .description {
    width: auto;
    max-width: 700px;
    left: 5%;
  }

  .imageContainer {
    left: auto;
    right: 10%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .infoSection {
    height: auto;
    padding: 80px 40px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    position: static;
  }

  .heading,
  .description {
    position: static;
    width: 100%;
    height: auto;
  }

  .imageContainer {
    position: static;
    justify-self: center;
  }
}
